$include /etc/inputrc

set completion-ignore-case on
set completion-map-case on
set skip-completed-text on
set match-hidden-files off
set completion-query-items 50
set page-completions off
set visible-stats on
set show-all-if-ambiguous on
set colored-stats on
set colored-completion-prefix on
set mark-symlinked-directories on

"\e[A": history-search-backward
"\e[B": history-search-forward
